html,
body {
  font-family: "Elice Digital Baeum", sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: rgb(45, 152, 223);
  padding-bottom: 5px;
  padding-left: 10px;
}

.name_image {
  text-align: center;
}

nav a {
  color: white;
  font-size: 13px;
  text-decoration: none;
}

#menu1 {
  margin: 0;
  padding: 0;
}

#menu2 {
  margin: 0px 0px 0px 30px;
}

footer > div {
  background-color: rgb(193, 190, 190);
  font-size: 10px;
  font-color: grey;
  padding: 30px 0px 20px 20px;
}

.intro-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contents {
  font-size: 13px;
}

.intro-container ul,
ol {
  padding-left: 15px;
  margin-top: 10px;
}

.intro-container h3 {
  margin-bottom: 0px;
}

.intro-container p {
  margin-top: 10px;
}
